.section-card {
  background-color: transparent;
  border: 1px solid #1e1e1e;
  padding: 10px 30px;
  position: relative;
  width: 376px;
  height: 410px;
}
.section-card__image {
  margin: 1rem 2rem;
  width: 250px;
  height: 190px;
}
.section-card__line {
  background-color: #1e1e1e;
  height: 2px;
}
.section-card__title {
  font-size: 14px;
  line-height: 127%;
  text-transform: uppercase;
  color: #000000;
  width: 80%;
  margin: 1rem 0rem;
  text-align: left;
}
.section-card__wrapper-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.section-card__wrapper-details__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #7a7a7a;
  text-align: left;
}

.section-card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-card__link {
  font-size: 0.8rem;
  line-height: 162%;
  text-decoration-line: underline;
  color: #7a7a7a;
  cursor: pointer;
}


.section-card__wish {
  position: absolute;
  top: 8%;
  right: 9%;
  z-index: 10;
  cursor: pointer;
}
