.gallery {
  &__container {
    flex: 0 1 60%;
    min-width: 300px;
  }

  &__main {
    &__item {
      height: 500px;
    }
  }
}

.thumbs {
  &-wrapper {
    max-width: 715px;
    .slick-arrow {
      border-radius: 10px;
      transition: 0.4s ease-in-out;
      height: 44px;
      &:before {
        color: #474747;
        
      }
      &:hover {
        color: #a8a8a8;
        opacity: 0.7;
      }
      &[disabled] {
        opacity: 0.3;
        cursor: not-allowed;
      }

    }
    .slick-prev:before {
      content: "🢐" !important;
      font-size: 38px !important;
    }
    .slick-next:before {
      content: "🢒" !important;
      font-size: 38px !important;
    }
    .slick {
      &-list {
        .slick-track {
          .slick-slide {
            width: 275px !important;
          }
        }
      }
    }
  }
  &__main--item {
    width: 220px !important;
    height: 133px;
  }
}
