.section-gadgets__card {
  border: 1px solid #1e1e1e;
  padding: 100px 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 223.6px;
  height: 453.712px;
}

.section-gadgets__card-title {
  width: 95px;
  font-size: 1rem;
  line-height: 129%;
  color: #1e1e1e;
  margin-bottom: 1rem;
}

.section-gadgets__card-link {
  font-weight: 100;
  font-size: 1rem;
  line-height: 120%;
  color: #5c5c5c;
  cursor: pointer;
  margin-bottom: 2rem;
}
.image-container{
width: 150px;}