.section-wish__wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
}
.section-wish__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 148%;
  color: #000000;
  width: fit-content;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
}
.section-wish__subtitle {
  font-weight: 100;
  font-size: 1rem;
  line-height: 148%;
  text-align: center;
  color: #5a5a5a;
  width: fit-content;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.section-wish__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.section-cart__continue {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #201f2f;
  width: fit-content;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
