.section-popular {
  background-color: #e5e5e5;
}

.section-popular__content {
  background-color: #e5e5e5;
  width: 90%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  flex-direction: column;
}

.section-popular__subtitle {
  width: 52%;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 127%;
  text-transform: uppercase;
  color: #898989;
  margin-bottom: 2rem;
}
.section-popular__products {
  display: grid;
  grid-template-columns: repeat(auto-fit,376px);
  width: 100%;
  gap: 100px;
  margin-bottom: 5rem;
  justify-content: center;
}
