.section-viewed-products {
  width: 90%;
  display: grid;
  place-self: center;
}
.section-viewed-products__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 376px);
  width: 100%;
  gap: 50px;
  margin-bottom: 5rem;
  justify-content: space-around;
}
